@{Layout="SiteLayout.cshtml";}
	<article>
		<h1>Welcome</h1>
		<p id="intro">
			Welcome to the official website of Jay Skript and the Domsters.
			Here, you can <a href="about.cshtml" title="About">learn more about the band</a>,
			view <a href="photos.cshtml" title="Photos">photos of the band</a>,
			find out about <a href="live.cshtml" title="Tour Date">tour dates</a>
			and <a href='contact.cshtml' title="Contact">get in touch with the band</a>.
		</p>
	</article>
	